.Title {
  text-align: center;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  color: #02315e;
}
.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  box-sizing: border-box;
}
.Gallery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.Gallery-item:hover {
  transform: scale(0.99);
}
.Gallery-img {
  width: 100%;
  height: 100%;
}
